/* stylelint-disable at-rule-disallowed-list */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

@use 'variables' as *;
@use 'interactive' as mixins;
@use '../../vendor/glyphter';

@mixin icon($size, $name) {
	display: inline-block;
	width: $size;
	height: $size;
	padding: 0;
	font-size: $size;

	@extend .icon;
	@extend .icon-#{$name};
}
