@use 'variables' as *;
@use 'mixins';

.basket {
	@include mixins.flex(column);

	gap: 2rem;
	height: 100%;

	&__list {
		flex-grow: 1;
		padding: 0;
		margin: 0;
	}

	&__item {
		padding: 1.5rem 0;
		border-bottom: 1px solid $primary;

		&-index {
			@include mixins.flex(row);

			align-items: center;
			justify-content: center;
			width: 55px;
			height: 55px;
			margin-right: 1rem;
			font-size: 1.5rem;
			color: #fff;
			background-color: $primary;
			border-radius: 50%;
		}

		&-delete {
			@include mixins.icon(2rem, 'trash');
			@include mixins.link($hover, #fff);

			margin-left: 4rem;
			opacity: 0.5;
		}
	}
}
