@use 'variables' as *;
@use 'mixins';

.card {
	@include mixins.flex(column);

	padding: $defaultPadding;
	color: #fff;
	background-color: $primary;
	border: 0;
	border-radius: $defaultBorderRadius;

	&_full {
		flex-direction: row;
		background-color: transparent;

		.card__title {
			flex-grow: 0;
		}
	}

	&_compact {
		flex-direction: row;
		align-items: center;
		background-color: transparent;
		border-radius: 0;

		.card__title {
			flex-grow: 1;
		}
	}

	&__column {
		@include mixins.flex(column);

		align-items: flex-start;
	}

	&__row {
		@include mixins.flex(row);

		gap: $defaultPadding;
		align-items: center;
	}

	&__image {
		height: 390px;
		aspect-ratio: 1;
		margin: 3.75rem;
	}

	&__title {
		flex-grow: 1;
		margin: 0;
		font-size: $titleFontSize;
		font-weight: 500;
	}

	&__text {
		flex-grow: 1;
		text-align: left;
	}

	&__category {
		padding: 0.5rem 1.25rem;
		margin-bottom: 12px;
		color: $primary;
		border-radius: 2.5rem;

		&_soft {
			background-color: $category1;
		}

		&_hard {
			background-color: $category5;
		}

		&_other {
			background-color: $category2;
		}

		&_additional {
			background-color: $category3;
		}

		&_button {
			background-color: $category4;
		}
	}

	&__action {
	}

	&__price {
	}
}
