@use 'variables' as *;
@use 'mixins';

.header {
	height: $headerHeight;
	background-color: $primary;

	&__container {
		@include mixins.container(45px, 45px);
		@include mixins.flex(row);

		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		height: $headerElementsSize;

		&-image {
			display: block;
			height: 100%;
		}
	}

	&__basket {
		// @include mixins.icon($headerElementsSize, 'basket-2');
		@include mixins.link($primary, $hover);

		position: relative;
		width: 58px;
		height: 58px;
		cursor: pointer;
		background-image: url('../images/shopping_cart.svg');
		border: unset;

		&-counter {
			position: absolute;
			top: 0;
			right: -0.2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 0.8rem;
			height: 0.8rem;
			font-size: 0.5rem;
			font-weight: 600;
			color: $background;
			background-color: $category1;
			border-radius: 100%;
		}
	}
}
