@use 'variables' as *;
@use 'mixins';

.modal {
	position: fixed;
	inset: 0;
	z-index: 100;
	box-sizing: border-box;
	display: none;
	justify-content: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
	overflow-y: auto;

	&::before {
		position: fixed;
		inset: 0;
		content: '';
		background-color: $overlayBackground;
	}

	&_active {
		display: flex;
	}

	&__container {
		@include mixins.container;
		@include mixins.flex(column);

		position: relative;
		box-sizing: border-box;
		gap: $defaultPadding;
		padding: 0;
		margin: auto;
		background-color: $background;
		border-radius: 3rem;
	}

	&__content {
		padding: $defaultPadding;
	}

	&__title {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 400;
	}

	&__actions {
		@include mixins.flex(row);

		gap: 2rem;
		align-items: center;
	}

	&__close {
		position: absolute;
		top: calc(#{$defaultPadding} / 2);
		right: calc(#{$defaultPadding} / 2);

		@include mixins.icon(2rem, 'close');
		@include mixins.link(white, $hover);
	}

	&__footer {
		@include mixins.flex(row);

		gap: 2rem;
		align-items: center;
	}

	&__message {
		max-width: 60%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&_error {
			color: $error;
		}
	}
}
